/* Variable */
@font-face {
    font-family: "Wix Madefor Display Variable";
    font-weight: 100 900;
    src: url("WixMadeforDisplay-Variable.ttf") format('woff2-variations');
}
@font-face {
    font-family: "Inter Variable";
    font-weight: 100 900;
    src: url("Inter-Variable.ttf") format('woff2-variations');
}
